h2{
    position: relative;
    top:60px;

}

#fo{

    position: relative;
    top:170px;

    left:450px;

}


.btn {

    position: relative;
   left:170px;
   top:70px;



}

#bt{

    position: relative;
    top:230px;
    left:600px;

}